@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/*configuracion inicial*/
* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
}

:root {
    --primary: #254E70;
    --secondary: #C33C54;
    --blue-sky: #37718E;
    --white: #f7f7f7;
    --grey: #ccc;
    --cyan: #8EE3EF;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--grey);
    display: flex;
    justify-content: center;
}

nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.logo {
    width: 168.136px;
    height: 30.836px;
    flex-shrink: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {

    display: inline;
    margin-left: 30px;
}

nav ul li a {
    color: var(--white);
}

nav ul li a:hover {
    color: var(--cyan);
}

nav ul li a:visited {
    color: var(--white);
}

.header {
    background: var(--primary);
    background-image: url(assets/header.png);
    background-position: center center;
    background-size: cover;
}

.wide {
    max-width: 100%;
    width: 100%;
    background: var(--white);
    box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.07);
}

.container {
    max-width: 1400px;
}

.caracteristicas {
    background: var(--secondary);
}

footer {
    background: var(--primary);
}

h2 {

    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h1 {
    color: #EFEEEC;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 112.5%;
    /* 54px */
}

h1 span {
    color: #8EE3EF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 112.5%;
}

h3 {
    border-left: 2px solid var(--secondary);
    padding-left: 10px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
p{
    margin-bottom: 0;
}
p+p{
    margin-bottom: 10px;
}
.text-left{
    text-align: right;
}


.bold{
    font-weight: 700;
}

.download {
    padding-top: 90px;
}

.caracteristicas {
    padding: 60px 0;
    color: var(--white);
}

/* footer */
footer {
    padding-top: 60px;
}

footer  p{
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer  li {
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
}

footer ul li {
    text-decoration: none;
}

.divider {
    /* border-top: 0.01em solid #f1f3f5; */
    width: 100%;
    height: 0.2px;
    background: #000;
}

.wireframes {
    position: relative;
}

.wireframes img {
    position: absolute;
    top: -90px;
}

.workcard {
    padding-top: 170px;
}

.card-image {
    display: flex;
    justify-content: center;
}
.space-2{
    margin-bottom: 20px;
}
.creditos{
    padding: 10px 0;
}